.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
local.properties
Generated.xcconfig
flutter_export_environment.sh
GeneratedPluginRegistrant.java
